.knight {
	position: relative;
	float: left;
	width:49%;
	height: 340px;
	display: inline-block;
	border-radius: 5px 5px 5px 5px;
	background: url(../../assets/img/Knight.png) no-repeat 50% 50%;
	background-color: saddlebrown;
}

.yourName{
	display: block;
	position: absolute;
	margin-left:120px;
	color: white;

}

.goods-left {
	display: inline-block;
}

.goods-left div{
	border-radius: 5px 5px 5px 5px;
	width: 80px;
	height: 80px;
	margin-top: 4px;
	margin-left: 2px;
}

.goods-left div {
	border-color: #059;
	-webkit-box-shadow: 0 1px 4px -1px #a8a8a8 inset, 0 1px rgba(255, 255, 255, 0.6), 0 0 11px rgba(70, 100, 200, 0.7);
	-moz-box-shadow: 0 1px 4px -1px #a8a8a8 inset, 0 1px rgba(255, 255, 255, 0.6), 0 0 11px rgba(70, 100, 200, 0.7);
	-ms-box-shadow: 0 1px 4px -1px #a8a8a8 inset, 0 1px rgba(255, 255, 255, 0.6), 0 0 11px rgba(70, 100, 200, 0.7);
	-o-box-shadow: 0 1px 4px -1px #a8a8a8 inset, 0 1px rgba(255, 255, 255, 0.6), 0 0 11px rgba(70, 100, 200, 0.7);
	box-shadow: 0 1px 4px -1px #a8a8a8 inset, 0 1px rgba(255, 255, 255, 0.6), 0 0 11px rgba(70, 100, 200, 0.7);
}

.goods-right {
	display: inline-block;
	float: right;
}

.goods-right div{
	border-radius: 5px 5px 5px 5px;
	width: 80px;
	height: 80px;
	margin-top: 4px;
	margin-right: 2px;
}

.goods-right div{
	border-color: #059;
	-webkit-box-shadow: 0 1px 4px -1px #a8a8a8 inset, 0 1px rgba(255, 255, 255, 0.6), 0 0 11px rgba(70, 100, 200, 0.7);
	-moz-box-shadow: 0 1px 4px -1px #a8a8a8 inset, 0 1px rgba(255, 255, 255, 0.6), 0 0 11px rgba(70, 100, 200, 0.7);
	-ms-box-shadow: 0 1px 4px -1px #a8a8a8 inset, 0 1px rgba(255, 255, 255, 0.6), 0 0 11px rgba(70, 100, 200, 0.7);
	-o-box-shadow: 0 1px 4px -1px #a8a8a8 inset, 0 1px rgba(255, 255, 255, 0.6), 0 0 11px rgba(70, 100, 200, 0.7);
	box-shadow: 0 1px 4px -1px #a8a8a8 inset, 0 1px rgba(255, 255, 255, 0.6), 0 0 11px rgba(70, 100, 200, 0.7);
}


.goods-right div:last-child{
	width: 80px;
	height: 164px;
}

.goodsimg{
	opacity: 0.5;
}


