<div class="stats">
    <div class="btn-default">Сила:<span>{{power}}</span><span>({{prevPower}} + {{power}})</span></div>
    <div class="btn-default">Ловкость: <span>{{agility}}</span><span>({{prevAgility}}+{{agility}})</span></div>
    <div class="btn-default">Интуиция: <span>{{intuition}}</span><span>({{prevIntuition}}+{{intuition}})</span></div>
    <div class="btn-default">Выносливость: <span>{{health}}</span><span>({{prevHealth}}+{{health}})</span></div>
    <div class="btn-default">Интелект: <span>{{intellect}}</span><span>({{prevIntellect}}+{{intellect}})</span></div>
</div>